{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="w-50 m-auto">

    {% if form.non_field_errors %}
    {% for err in form.non_field_errors %}
    <small class="text-danger text-center"><b>{{err}}</b></small>
    {% endfor %}
    {% endif %}



    <h1 class="text-center">{{type}}</h1>
    <form method="post" class="p-5 rounded shadow-lg" style="background: linear-gradient(135deg, #6f42c1, #e83e8c); color: #fff;">
        {% csrf_token %}
        <!-- {{form|crispy}} -->
        {% for fm in form %}
        {{fm.label_tag}}
        {{fm}}
        <small class="text-danger"><b>{{fm.errors|striptags}}</b></small>
        <br>
        {% endfor %}
        <p class="text-center"><button type="submit" class="btn btn-success w-50 py-2">Submit</button></p>
    </form>
</div>
{% endblock %}